<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <!-- Oracle -->
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="dialect">NHibernate.Dialect.Oracle10gDialect</property>
    <!--property name="connection.driver_class">NHibernate.Driver.OracleClientDriver</property-->
    <property name="connection.driver_class">NHibernate.Driver.OracleManagedDataClientDriver</property>
    <!--<property name="connection.connection_string">User ID=sisocorr;Password=sisocorr;Data Source=localhost:1521/xe</property>-->
    <property name="connection.connection_string">User ID=LOCOMOTIVA;Password=LOCOMOTIVA;Data Source=187.32.7.66:1521/OCRL2</property>    
  </session-factory>
</hibernate-configuration>